<h1>Game page</h1>

<ul>
  <% for game in @games %>
  <li>
    <p> <%=game.home_team_name %> <%=game.home_team_score %> : <%=game.away_team_score %> <%=game.away_team_name %>
    </p>
    <p>
      <form action='/admin/game/<%=game.id  %>/delete' method="POST">
        <input class="" type="submit" value="Delete" />
      </form>
    </p>
  </li>
  <%end %>


</ul>


<div >
<a class="" href="/admin/game/new" >Create Game | | </a>
<a class="" href="/admin/team/new" >Create Team | | </a>
<a class="" href="/admin/team">Show Team | | </a>
<a class="" href="/admin/game">Show Show Game | | </a>

</div>
